@import "../../../../assets/styles/variables";

.experience-items {
  max-width: 850px;
  padding-left: 15px;

  .experience-item {
    padding-top: 10px;
    border-bottom: 1px solid $experience-light-gray-color;
  }

  .experience-item-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: FiraSans, sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;

    .title {
      letter-spacing: 1px;
      font-size: 25px;
      line-height: 28px;
      font-weight: 400;
      background: linear-gradient(to left, $pink-color, $blue-color 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .title-time {
      border-radius: 100px;
      padding: 9px 50px;
      background-color: $experience-light-green-color;
      color: $experience-green-color;
      font-weight: 600;
      font-size: 20px;
      text-align: center;
    }
  }

  .experience-item-block-info {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 24px;
    font-family: FiraSans, sans-serif;
    color: $gray-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;

    .experience-item-block-info-data {
      align-items: center;
      width: 300px;
      padding-right: 22px;

      &:last-child {
        padding-left: 45px;
        padding-right: 0;
      }

      a {
        text-decoration: none;
        color: $gray-color;

        &:hover {
          color: $white-color;
        }
      }
    }
  }
}

//MEDIA Educations-Works
@media (max-width: 768px) {
  .experience-item-block-info-data {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 18px !important;
  }

  .title-time {
    padding: 5px 30px !important;
    font-size: 16px !important;
  }

  .experience-item-block-info-data {
    font-size: 14px;
  }
}

