@import "../../../../assets/styles/variables";

.education-items {
  max-width: 704px;

  .education-item {
    padding-top: 38px;
    border-bottom: 2px solid $education-light-gray-color;

    .education-item-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: FiraSans, sans-serif;

      .title-work {
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: $education-gray-color;
      }

      .title-work-time {
        border-radius: 100px;
        padding: 7px 21px;
        background-color: $education-light-green-color;
        color: $education-green-color;
        font-weight: 600;
        font-size: 9px;
        text-align: center;
      }
    }

    .education-item-block-info {
      display: flex;
      align-items: center;
      padding-top: 4px;
      padding-bottom: 24px;
      color: $gray-color;
      font-family: FiraSans, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 28px;
      letter-spacing: 1px;

      .education-item-block-info-data {
        align-items: center;
        width: 200px;
        padding-right: 22px;

        span {
          padding-top: 2px;
          padding-right: 4px;
          margin: 0;
        }

        &:last-child {
          padding-left: 143px;
          padding-right: 0;
        }
      }
    }
  }
}
