<div class="experience-items" data-aos="fade-up" data-aos-duration="2000">
  <div class="experience-item" *ngFor="let education of educations">
    <div class="experience-item-block">
      <div class="title">{{ education.education }}</div>
      <div class="title-time">{{ education.time }}</div>
    </div>
    <div class="experience-item-block-info">
      <div class="experience-item-block-info-data">
        <a [href]="education.link" target="_blank">
          {{ education.name }}
        </a>
      </div>
      <div class="experience-item-block-info-data">{{ education.address }}</div>
      <div class="experience-item-block-info-data"> {{ education.date }}</div>
    </div>
  </div>
</div>
