@import "../../../../assets/styles/variables";

.project-cards {
  padding-top: 99px;
  padding-bottom: 197px;

  .container {
    .title {
      text-align: center;
    }

    .subtitle {
      text-align: center;
      padding-bottom: 50px;
    }
  }

  // MEDIA

  @media screen and (max-width: 1024px) {
    .project-card-block {
      grid-template-columns: repeat(2, 350px) !important;
      gap: 20px !important;
      justify-content: space-evenly;
    }

    .project-link {
      margin-left: 800px !important;
    }
  }

  @media screen and (max-width: 900px) {
    .project-card-block {
      grid-template-columns: repeat(2, 350px) !important;
      gap: 20px !important;
      justify-content: space-evenly;
      justify-items: center
    }

    .project-link {
      margin-left: 650px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .project-link {
      margin-left: 230px;
    }
  }
}

