<div class="project-cards">
  <div class="container">
    <div class="title">Коллекция идей</div>
    <div class="subtitle">Погрузись в мир моих лучших решений</div>
    <!-- Фильтр -->
    <div class="filter-block">
      <filters (projectsChange)="projects = $event"></filters>
    </div>
    <!-- Фильтр -->
    <div class="project-card-block">
      <project-card-component
        *ngFor="let project of projects"
        [project]="project">
      </project-card-component>
    </div>
    <div class="project-link-more">
      <a routerLink="/">
        <img src="assets/images/pages/arrow-right.svg" alt="arrow">
        <span>На главную</span>
      </a>
    </div>
  </div>
</div>
