@import "../../../../assets/styles/variables";

.project-cards {
  padding-top: 99px;
  padding-bottom: 197px;

  .container {
    .title {
      text-align: center;
    }

    .subtitle {
      text-align: center;
      padding-bottom: 50px;
    }

    // MEDIA
    @media screen and (max-width: 768px) {
      .project-link {
        margin-left: 230px;
      }
    }
  }
}
