@import "../../../../assets/styles/variables";

.work-experience-items {
  max-width: 850px;

  .work-experience-item {
    padding-top: 10px;
    border-bottom: 2px solid $work-light-gray-color;

    .work-experience-item-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: FiraSans, sans-serif;
      padding-bottom: 20px;

      .title-work {
        letter-spacing: 1px;
        font-size: 25px;
        line-height: 28px;
        font-weight: 400;
        background: linear-gradient(to left, $pink-color, $blue-color 90%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .title-work-time {
        border-radius: 100px;
        padding: 9px 50px;
        background-color: $work-light-green-color;
        color: $work-green-color;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
      }
    }

    .work-experience-item-block-info {
      display: flex;
      align-items: center;
      padding-top: 4px;
      padding-bottom: 24px;
      color: $gray-color;
      font-family: FiraSans, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 1px;

      .work-experience-item-block-info-data {
        align-items: center;
        width: 300px;
        padding-right: 22px;

        span {
          padding-top: 2px;
          padding-right: 4px;
          margin: 0;
        }

        &:last-child {
          padding-left: 45px;
          padding-right: 0;
        }
      }
    }
  }
}
