<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="burger" (click)="toggleMenu()" [class.active]="menuOpen">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="logo">
        <img src="assets/images/logo-white.png" alt="logo">
      </div>
      <ul class="nav-items" [class.open]="menuOpen">
        <li class="nav-item"><a routerLink="/" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">Главная</a></li>
        <li class="nav-item"><a routerLink="/about" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">Обо мне</a></li>
        <li class="nav-item"><a routerLink="/" fragment="tech" (click)="closeMenu()">Скиллы</a></li>
        <li class="nav-item"><a routerLink="/" fragment="project" (click)="closeMenu()">Проекты</a></li>
        <li class="nav-item"><a routerLink="/contacts" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">Контакты</a></li>
      </ul>
      <div class="socials">
        <div class="socials-item">
          <a href="https://github.com/KartoShk4" target="_blank">
            <img src="assets/images/icons/github.png" alt="github-icon">
          </a>
        </div>
        <div class="socials-item">
          <a href="https://vk.com/frontend_journey" target="_blank">
            <img src="assets/images/icons/vk.png" alt="vk-icon">
          </a>
        </div>
        <div class="socials-item">
          <a href="www.linkedin.com/in/евгений-мухамадеев-32081637a" target="_blank">
            <img src="assets/images/icons/linkedin.png" alt="linkedin-icon">
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
