<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img src="assets/images/logo-white.png" alt="logo">
      </div>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about">Обо мне</a>
        </li>
        <li class="nav-item">
          <a routerLink="['/']" fragment="tech">Скиллы</a>
        </li>
        <li class="nav-item">
          <a routerLink="['/']" fragment="project">Проекты</a>
        </li>
        <li class="nav-item">
          <a href="#">Контакты</a>
        </li>
      </ul>
      <div class="socials">
        <div class="socials-item">
          <a href="https://github.com/KartoShk4" target="_blank">
            <img src="assets/images/icons/github.png" alt="github-icon">
          </a>
        </div>
        <div class="socials-item">
          <a href="https://vk.com/frontend_journey" target="_blank">
            <img src="assets/images/icons/vk.png" alt="vk-icon">
          </a>
        </div>
        <div class="socials-item">
          <a href="#" target="_blank">
            <img src="assets/images/icons/linkedin.png" alt="linkedin-icon">
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
