@import "../../../assets/styles/variables";

.greetings {
  height: 67vh;
  padding-top: 220px;
  user-select: none;

  .container {
    .greetings-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .greetings-text {
        max-width: 734px;
        font-family: FiraSans, sans-serif;
        font-weight: 500;
        font-size: 58px;
        color: $main-light-gray-color;

        .animate-emoji {
          width: 58px;
          height: 58px;
        }

        .greetings-text-name {
          background: linear-gradient(to left, $pink-color, $blue-color 70%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .greetings-text-name span {
          color: $main-light-gray-color !important;
        }
      }

      .greetings-image {
        width: 349px;
        height: 349px;
        border: 9px solid transparent;
        background: linear-gradient(to top, #00C0FD, #E70FAA 60%) border-box;
        border-radius: 180px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }
}

.tech {
  padding-bottom: 206px;

  .container {
    text-align: center;
  }
}

.project {
  padding-bottom: 197px;

  .container {
    text-align: center;

    .project-link {
      display: inline-block;
      padding-top: 30px;
      margin-left: 1020px;
      transition: transform .3s ease;

      a {
        text-decoration: none;

        span {
          font-family: FiraSans, sans-serif;
          font-size: 18px;
          color: $white-color;
        }

        img {
          position: relative;
          width: 20px;
          top: 5px;
          margin-left: 7px;
        }
      }

      &:hover {
        transform: translateX(-5px);
      }
    }
  }
}

// MEDIA

@media (max-width: 1024px) {
  .greetings-text {
    margin-left: 30px;
    font-size: 50px !important;

    picture {
      .animate-emoji {
        width: 58px;
        height: 58px;
      }
    }
  }

  .greetings-image {
    margin-right: 30px;
    width: 280px !important;
    height: 280px !important;
  }

  .project-card-block {
    grid-template-columns: repeat(2, 350px) !important;
    gap: 20px !important;
    justify-content: space-evenly;
  }

  .project-link {
    margin-left: 700px !important;
  }
}

@media screen and (max-width: 900px) {
  .greetings-text {
    font-size: 35px !important;

    picture {
      .animate-emoji {
        width: 35px !important;
        height: 35px !important;
      }
    }
  }

  .greetings-image {
    width: 200px !important;
    height: 200px !important;
  }

  .project-card-block {
    grid-template-columns: repeat(2, 350px) !important;
    gap: 20px !important;
    justify-content: space-evenly;
    justify-items: center
  }

  .project-link {
    margin-left: 550px !important;
  }
}

@media (max-width: 768px) {
  .greetings {
    padding-top: 120px;
    height: 30vh;

    .greetings-text {
      margin-left: 25px;
      font-size: 38px !important;

      picture {
        .animate-emoji {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }

    .greetings-image {
      margin-right: 30px;
      width: 200px !important;
      height: 200px !important;
    }
  }

  .tech {
    padding-bottom: 150px;
  }

  .project {
    padding-bottom: 100px;

    .project-card-block {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .project-link {
      margin-left: 170px !important;
    }
  }
}

@media (max-width: 425px) {
  .greetings {
    padding-top: 70px;
    height: 60vh;

    .greetings-block {
      flex-direction: column-reverse;
    }

    .greetings-text {
      font-size: 28px !important;
      text-align: center;
      padding-top: 15px;
      margin: 0;

      picture {
        .animate-emoji {
          width: 24px !important;
          height: 24px !important;
        }
      }
    }

    .greetings-image {
      width: 200px !important;
      height: 200px !important;
      margin: 0;
    }
  }

  .tech {
    padding-bottom: 100px;

    .title {
      font-size: 30px;
    }

    .subtitle {
      font-size: 15px;
      padding-bottom: 50px;
    }
  }

  .project {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 375px) {
  .project-card-block {
    grid-template-columns: repeat(1, 350px) !important;
    gap: 20px !important;
    justify-content: center;
  }

  .project-link {
    margin-left: 170px !important;
  }
}


