.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 375px);
  gap: 47px;

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding-bottom: 18px;
    background-color: #363636;
    width: 375px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;

    .project-card-image {
      width: 100%;
      padding-bottom: 15px;
      overflow: hidden;
      border-radius: 20px 20px 0 0;

      img {
        display: block;
        border-radius: inherit;
        height: 260px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        will-change: transform;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    .project-card-title {
      font-family: FiraSans, sans-serif;
      font-weight: 500;
      font-size: 25px;
      color: #CCCCCC;
      padding: 0 28px 17px 28px;
    }

    .project-card-text {
      font-family: FiraSans, sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: #CCCCCC;
      line-height: 26px;
      padding: 0 28px 12px 28px;
      text-align: center;
    }

    .project-card-tech {
      color: #7e7e7e;
      font-size: 16px;
      font-family: FiraSans, sans-serif;
      font-weight: 400;
      padding: 0 28px 21px 28px;

      span {
        font-family: FiraSans, sans-serif;
        font-weight: 300;
        font-size: 14px;
      }
    }

    .project-card-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 28px 0 28px;

      .project-card-action-link {
        display: flex;
        align-items: center;

        svg {
          padding-right: 10px;
        }

        a {
          font-family: FiraSans, sans-serif;
          font-size: 16px;
          font-weight: 400;
          text-decoration: none;
          color: white;
          transition: all .3s;

          &:hover {
            background: linear-gradient(to left, #E70FAA, #13B0F5 70%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}
