$background-dark-color: #191919;
$gray-color: #A7A7A7;
$white-color: #FFFFFF;
$pink-color: #E70FAA;
$blue-color: #13B0F5;
$dark-green-color: #2C7873;
$green-color: #52DE97;


$footer-gray-color: #242424;
$not-found-dark-blue-color: #151729;
$not-found-mint-color: #2c7873;
$not-found-black-color: #111;
$not-found-light-pink-color: #ff0562;
$not-found-pink-color: #d00d56;


$education-light-gray-color: #EBEAED;
$education-gray-color: #666666;
$education-light-green-color: #D7FFE0;
$education-green-color: #018C0F;


$work-light-gray-color: #EBEAED;
$work-gray-color: #666666;
$work-light-green-color: #D7FFE0;
$work-green-color: #018C0F;


$about-gray-color: #CCCCCC;
$about-light-blue-color: #1976d2;


$contacts-light-blue-color: #1976d2;


$project-dark-gray-color: #363636;
$project-light-gray-color: #CCCCCC;
$project-gray-color: #7e7e7e;


$main-light-gray-color: #D9D9D9;
