<div class="contacts">
  <div class="container">
    <div class="contacts-info">
      <div class="contacts-info-title">
        Если у вас остались вопросы, пожалуйста свяжитесь со мной:
      </div>
      <div class="contacts-info-link">
        <a href="mailto: trisemerka@gmail.com" target="_blank"> - Написать на <span>E-mail</span></a>
      </div>
      <div class="contacts-info-link">
        <a href="https://t.me/+79279381000" target="_blank"> - Написать в <span>Telegram</span></a>
      </div>
      <div class="contacts-info-link">
        <a href="https://vk.com/frontend_journey" target="_blank"><span> - Написать в VK</span></a>
      </div>
    </div>
  </div>
</div>
