.tech-icons {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap: 96px;
  align-items: center;
  justify-items: center;

  .tech-icon {
    img {
      width: 120px;
      height: 120px;
    }
  }
}

// MEDIA

@media (max-width: 1024px) {
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;

    .tech-icon {
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 425px) {
  .tech-icons {
    gap: 40px;

    .tech-icon {
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
