<div class="about">
  <div class="container">
    <div class="about-me">
      <h2 class="about-title">Обо мне</h2>
      <p class="about-text">
        Привет, меня зовут Евгений. Я Junior Frontend разработчик.<br>

        В свободное время активно изучаю Frontend-разработку через обучающие видео. Особое
        внимание уделяю Angular, TypeScript и современному JavaScript. Смотрю подробные
        разборы и уроки на YouTube-каналах, таких как Ulbi TV, Result School, Хауди Хо, а также АйТи
        Борода и JavaScript.Ninja, где затрагиваются реальные кейсы из мира веб-разработки, всё это
        я практикую и тестирую на этом сайте.
      </p>
    </div>
    <div class="education">
      <h2 class="about-title">Обучение</h2>
      <education-component></education-component>
    </div>
<!--    <div class="work-experience">-->
<!--      <h2 class="about-title">Опыт работы</h2>-->
<!--      <work-experience-component></work-experience-component>-->
<!--    </div>-->
  </div>

  <div class="resume">
    <a href="./assets/resume.pdf" target="_blank" class="resume-file">Скачать резюме</a>
    <span class="wave"></span>
  </div>
</div>
