<div class="filters">
    <div class="container">
        <div class="filters-wrapper">
            <div class="filter">
                <ul class="filter-list" #project>
                    <li
                            *ngFor="let filter of projectFilter; let i = index; trackBy: trackByIndex"
                            [class.active]="filter.active"
                            (click)="changeFilter(filter)"
                            class="filter-item"
                    >
                        {{ filter.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
