@import "../../../../assets/styles/variables";

.filters {
  font-family: "Dayssansblack", sans-serif;
  padding:0 0 40px 0;

  .filters-wrapper {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px;


    .filter-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
      list-style: none;
      color: $project-light-gray-color;

      .filter-item {
        width: auto;
        padding: 16px;
        text-align: center;
        font-size: 16px;
        box-sizing: border-box;
        cursor: pointer;
        border: 1px solid $project-light-gray-color;

        &.active {
          border-image: linear-gradient(to left, $blue-color, $pink-color 70%) 1;
        }
      }
    }
  }
}
