@font-face {
  src: url("../fonts/UbuntuSans-Medium.ttf");
  font-family: "UbuntuSans";
  font-weight: 500;
}
@font-face {
  src: url("../fonts/UbuntuSans-Regular.ttf");
  font-family: "UbuntuSans";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/dayssansblack.ttf");
  font-family: "Dayssansblack";
}
