<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <img src="assets/images/logo-white.png" alt="logo">
      </div>
      <div class="footer-top-info">
        <div class="footer-top-info-action">
          <span>
            <img src="assets/images/icons/telegram.png" alt="telegram-icon">
          </span>
          <a href="https://t.me/emuhamadeev" target="_blank">@emuhamadeev</a>
        </div>
        <div class="footer-top-info-action">
          <span>
            <img src="assets/images/icons/mail.png" alt="mail-icon">
          </span>
          <a href="mailto: trisemerka@gmail.com">trisemerka@gmail.com</a>
        </div>
        <div class="socials">
          <div class="socials-item">
            <a href="https://github.com/KartoShk4" target="_blank">
              <img src="assets/images/icons/github.png" alt="github-icon">
            </a>
          </div>
          <div class="socials-item">
            <a href="https://vk.com/frontend_journey" target="_blank">
              <img src="assets/images/icons/vk.png" alt="vk-icon">
            </a>
          </div>
          <div class="socials-item">
            <a href="www.linkedin.com/in/евгений-мухамадеев-32081637a" target="_blank">
              <img src="assets/images/icons/linkedin.png" alt="linkedin-icon">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about">Обо мне</a>
        </li>
        <li class="nav-item">
          <a routerLink="['/']" fragment="tech">Скиллы</a>
        </li>
        <li class="nav-item">
          <a routerLink="['/']" fragment="project">Проекты</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacts">Контакты</a>
        </li>
      </ul>
      <div class="rights">
        <p>&copy; Евгений Мухамадеев. Все права защищены {{year}}</p>
      </div>
    </div>

  </div>
</footer>
