<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <img src="assets/images/logo-white.png" alt="logo">
      </div>
      <div class="footer-top-info">
        <div class="footer-top-info-action">
          <a href="tel: +79279381000">+7 (927) 938 1000</a>
        </div>
        <div class="footer-top-info-action">
          <a href="mailto: trisemerka@gmail.com">trisemerka@gmail.com</a>
        </div>
        <div class="socials">
          <div class="socials-item">
            <a href="#">VK</a>
          </div>
          <div class="socials-item">
            <a href="#">GIT</a>
          </div>
          <div class="socials-item">
            <a href="#">IN</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a href="#">Обо мне</a>
        </li>
        <li class="nav-item">
          <a href="#">Скиллы</a>
        </li>
        <li class="nav-item">
          <a href="#">Проекты</a>
        </li>
        <li class="nav-item">
          <a href="#">Контакты</a>
        </li>
      </ul>
      <div class="rights">
        <p>&copy; Евгений Мухамадеев. Все права защищены 2025</p>
      </div>
    </div>

  </div>
</footer>
